.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  padding-top: 50px;
}

.vertical-nav ul {
  list-style-type: none;
}

ul li {
  font-size: 125%;
}

@media screen and (max-width: 600px) {
  #sidebar {
    display: none;
  }
}

.carousel-inner img {
  margin: auto;
}

.carousel-inner img:hover {
  width: 80%;
}

.carousel-control i {
  top: 50%;
  position: absolute;
  transform: translate(0, -50%); {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}

